:root {
    --main: #e7a41d;
    --main-dark: #c58f23;
    --black: #181616;
    --green: #4f6a5e;
    --othergreen:#A3E0C5;
    --quincy: #563D27;
    --tan: #CCA87F;
    --cloudy:  #ffffff2a;
    --donkey-brown: #A7947D;
    --copper: #B27732;
    --black-olive: #434437;
    --silver-pink: #CEB5A8;
    --camel: #C29055;
    --pine-tree: #2B382E;
    --white: #ffffff;
}


* {
    font-family: 'Poppins', sans-serif;
}

.tc-main {
    color: var(--main);
}

.line-decoration {
    position: relative;
}


.line-decoration::before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--main-dark);
    position: relative;
    display: inline-block;
    /* transform: translateY(-100%); */
    margin-right: 5px;


}

.line-decoration::after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: var(--main-dark);
    position: relative;
    display: inline-block;
    /* per centrare la linea col testo asse y */
    /* transform: translateY(-100%); */
    margin-left: 5px;


}

.btn:focus {
    box-shadow: none !important;
}

/* HEADER HOMEPAGE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.header {
    height: 100vh;
    background: linear-gradient(#00000079, #0000008a), url("/img/header_img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}

.header-title {
    position: absolute;
}

/* .header-btn{
    background-color: var(--main);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0px;

}
.header-btn:hover{
    color: var(--pine-tree);
    background-color: var(--silver-pink);

} */

.input-search input {


    border-radius: 0px;
    background: var(--cloudy);
    backdrop-filter: blur(10px);
    border-color: transparent;
    transition: all 0.5s;
}

.input-search input:focus {
    background: var(--cloudy);
    box-shadow: none;
    border-color: transparent;
}

.input-search input::placeholder {
    color: var(--white);
}

.input-search button {
    border-color: var(--main);
    color: var(--main);

}

.input-search button:hover {
    color: var(--green);
    background: var(--main);


}

.input-search button:focus {
    box-shadow: none;
}


/* NAVBAR HOMEPAGE ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.home-nav .navbar-nav .nav-link {
    color: var(--white);
    transition: 0.2s;
    position: relative;


}

.line-link-nav:before{
    content: '';
    background: var(--main);
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 3px;
    transition:all ease-in-out .5s;
    
}


.line-link-nav:hover:before{
   width: 100%;
   
}


.home-nav .navbar-nav .nav-link:hover {
    color: var(--main);
    


}

.nav-colored {

    background-color: var(--black);
    transition: all 0.3s ease-in-out;
}

.nav-togg {
    color: var(--green);
    font-size: 25px;
    transition: all 0.5s;

}

/* CATEGORY CARD HOMEPAGE ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.category-container {
    margin-top: 80px;
}

.card-cat {
    height: 150px;
    width: 200px;
    perspective: 600px;

}

.card-cat-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px var(--cloudy);
    transform-style: preserve-3d;
    transform-origin: center;
    transition: 1s;
}

.card-cat-inner:hover {
    transform: rotateY(180deg);
}

.card-cat-inner-front {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to left top, #4f6a5e, #4a6463, #4d5c61, #515559, #4f4f4f);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}



.card-cat-inner-back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(to left top, #4f6a5e, #4a6463, #4d5c61, #515559, #4f4f4f);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateY(-180deg);

}

.card-cat-title {
    font-size: large;
    margin-top: 20px;

}

.cat-p {
    font-size: smaller;
    color: var(--main);

}

.cat-icon {
    color: var(--main);
}

.cat-btn {
    background-color: var(--main);
    border: none;
    color: var(--white);

}

.cat-btn:hover {
    background-color: var(--copper);
    border: none;
    color: var(--white);
}



/* CARD DEGLI ANNUNCI HOMEPAGE //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////7*/

.product-card {
    position: relative;
    max-width: 250px;
    margin: auto;
    padding: 50px 0px;

}

.product-card .product-image {
    position: relative;
    overflow: hidden;
}

.product-card .product-image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    z-index: 1;
}

.product-card:hover .product-image .overlay {
    background-color: rgba(0, 0, 0, 0.2);

}

.product-card .product-image img {
    transition: all 0.5s;
}

.product-card:hover .product-image img {
    transform: scale(1.2);
}

.btn-card {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    background-color: var(--main-dark);
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0px;
    transition: 0.15s ease-in-out;
}

.btn-card:hover {
    color: var(--green);
    background-color: var(--main);
    font-size: 1rem;
    border-radius: 0px;
}

.cat-card-link {
    text-decoration: none;
    color: var(--main);
}

.cat-card-link:hover {
    text-decoration: none;
    color: var(--main);
    font-weight: bold;
}

.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    /* left: 50%;
    top: 50%; */
    /* margin-left: -150px;
    margin-top: -150px; */
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .swiper-pagination-bullet-active{
    background: var(--main)!important;

}  */


.swiper-button-next,
.swiper-button-prev {
    color: var(--main) !important;

}


/* GENERAL NAV //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.general-nav {
    background-color: var(--black);
}

.general-nav .navbar-nav .nav-link {
    color: var(--white);
    transition: 0.2s;
}

.general-nav .navbar-nav .nav-link:hover {
   font-weight: bold;
}

/* FOOTER MOMENTAMEO */
.presto-foot {
    margin-top: 100px;

}


/* AUTH FORM PAGINE LOGIN REGISTER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* .general-body{
    background:linear-gradient(#00000062 , #08080862) , url("/img/6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
 }   */




.auth-form {
    /* background-color: var(--silver-pink); */
    /* background: linear-gradient(to left top, #4f6a5e, #4a6463, #4d5c61, #515559, #4f4f4f); */
    background: linear-gradient(#00000079, #0000008a), url("/img/header_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px;
    padding: 50px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    color: var(--white);



}

.input-auth {
    color: var(--white);
    background: var(--cloudy);
    backdrop-filter: blur(10px);
    border-color: transparent;
    transition: all 0.5s;
}

.input-auth:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    background: var(--cloudy);
    color: var(--white);

}

.auth-btn {
    width: 100%;
    background-color: var(--main);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;


}

.auth-btn:hover {

    color: var(--green);

}


.auth-icon {
    margin-bottom: 50px;
    text-align: center;
    font-size: 60px;
    color: var(--green);

    text-shadow: -1px -1px 0 var(--main),
        1px -1px 0 var(--main),
        -1px 1px 0 var(--main),
        1px 1px 0 var(--main);


}

.auth-link{
    text-decoration: none;
    color: var(--main);
    text-transform: uppercase;
    transition: 0.2s;
}

.auth-link:hover{
    color: var(--main);
    font-weight: bold;
}


.btn-backHome {
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: var(--white);
    color: var(--main);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.4s;
    border: 2px solid var(--green);
    position: relative;
}

.btn-backHome:hover {
    border: none;
    transform: scale(1.4);
}

.link {
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: var(--white);
    left: -1px;
    top: -1px;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-backHome:hover .link {
    opacity: 1;
}

a.btn-backHome-box {
    width: 80px;
    height: 80px;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-decoration: none;
    transition: 1s;

}

a.btn-backHome-box:hover{
    transform: rotateZ(45deg);
}

a.btn-backHome-box i {
    transition: 1s;
    font-size: 30px;


}

a.btn-backHome-box:hover i{
    transform: rotateZ(-45deg);
}


.input-form-ads{
    border: 2px solid var(--green);
    transition: all 0.5s;
}

.input-form-ads:focus {
     border: 2px solid var(--green);
    box-shadow: none !important;
}

.cat-select{
    width: 200px;


}
.cat-select:focus{
    box-shadow: none;
    border-color: var(--black);
}

.insert-btn{

    width: 100%;
    color: var(--white  );
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to left, #4f6a5e, #514F6A,#6A4F5B,#696A4F );
    background-position: 0px 0px;
    background-size: 200%;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    transition: 1s;


}
.insert-btn:hover{
    background-position: 100% 0px;
    color: var(--white  );
}

.lottie{
  width: 400px;
  height: 400px;
  background-color: transparent;
 
}


@media screen and (max-width: 500px) {
    .line-decoration::before {
        display: none;
    }

}
/* @media screen and (max-width: 576px){

    .category{
        align-self: center !important;
         /* margin-left: auto;
        margin-right: auto; */
/* }

};*/